.tweetBox {
  padding: 10px 20px;
  border-bottom: 8px solid var(--twitter-background);
}
.tweetBox > form {
  display: flex;
  flex-direction: column;
}
.tweetBox .tweetBox__input {
  display: flex;
  outline: 0;
}

.tweetBox .tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}
.tweetBox .tweetBox__input > input::placeholder {
  color: #ccc;
}
.tweetBox .tweetBox__input > input:focus {
  outline: none;
}
.tweetBox .tweetBox__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
